body{
  background-color: #464c56;
  font-family: "Microsoft Sans Serif"; 
  max-width: 100%;
  min-width: 500px;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin-left: 30%;
  margin-right: 30%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #08248c;
}

a:link{
  color: #ffffff;
}

a:visited{
  color: #ffffff;
}

a:hover{
  color: #ef0202;
}

a:active{
  color: #ffffff;
}

.active{
  background-color: #08248c;
}

.linki{
  margin-left: 20%;
  margin-right: 60%;
  padding-top: 1%;
  padding-bottom: 8px;
  font-size: 17px;
  color: #ffffff;
  max-width: 20%;
  min-width: 500px;  
}

#W3{
  position: fixed;
  bottom: 0;
  right: 0;
  border: 0;
  max-width: 3%;
  min-width: 30px;
  max-height: 2%;
  min-height: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #08248c;
  color: #ffffff;
}